.container1{
    
    width: 1080px;
    margin-left: 150px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: darkseagreen;*/
}


.text{
    font-family: inherit;
    font-size: 22px;
    padding-left: 160px;
    padding-right: 160px;
    
}

.Image{
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 20px;
    
}

.head{
    font-family: inherit;
    font-size: 35px;
    padding-left: 160px;
    padding-right: 160px;
    
}
.label {
    padding-left: 230px;
    padding-right: 230px;
    font-family: cursive;
    
}

.img { 
    width: 40%;
    float: left;
    /*background-color: chartreuse;*/
}


.txt {
    width: 60%;
    float: left;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.container2 {
    width: 1280px;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: darkseagreen;*/
}
